.cmd{
    padding-top: 50px;
    padding-bottom: 100px;
}
.panel-cmd{
    box-shadow: 5px 10px 10px #808080;
}
.panel-cmd .panel-heading{
    padding: 6px;
    color: black;
}

.panel-cmd .panel-body{

    min-height:150px; 
    font-size: 24px;
    background-color: black;
    color: white;

}

.typed-cursor{
    font-size: 24px;
    font-weight: bold;
    opacity: 1;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}