.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}

    .app-logo{;
    	height: 40px;
    	margin-top: -8px;
    }

}

.navbar .navbar-center{
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

